body{
	font-family: monospace;
	color: white;
	background-color: rgb(10, 10, 10);
	margin:
}

a:link{
	font-size: 18pt;
	text-decoration: none;
	color: white;
}

a:visited{
	font-size: 18pt;
	text-decoration: none;
	color: white;

}

p{
	font-size: 12pt;
	margin: 10px;
}

li{
	text-decoration-style: none;
}
.nav {
	margin-top: 15px;
	
	padding-right:88px;
	display: flex;
	width: 100%;
	justify-content: center;
	font-family: inherit;
}

.contact{
	border: 2px solid white;
}

.nav h1{
	align-self: flex-start;
	font-size: 44pt;
}

.nav ul{
	margin: 0px 3px;
	align-content: center;
	
}

.nav li{
	display: inline-block;
	
	font-size: 20px;
	padding: 15px 15px;
	text-align:center;
	border-radius: 3px;
	margin: 0px 6px;
	height: 60px;
	
	flex-grow: 1s 1.1;
	transition: all 1s;
}

.nav li:hover {
	transform: scale(1.1);
}

.jumbotron {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	color: black;
	border-bottom: rgba(10, 10, 10, 60%);
}

.sec1 { 
	/*display: flex;*/
	align-items: 
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	background-color: white;
	
}

.top {
	display: flex;
	align-content: center;
	justify-content: center;
}

.pic {
	margin: 50px;
	border-radius: 50%;
	flex-grow: 1s 1.1;
	transition: all 1s;
	height: 300px;
	width: 300px;
}

.pic:hover {
	transform: scale(1.1);
}

.bottom{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	color: black;
	justify-content: flex-end;
	border-top: 2px solid rgba(10, 10, 10, 15%);
	justify-content: center;
	
}





}
