body{
	
}

.profile {
	border-radius: 50%;
	flex-grow: 1s 1.1;
	transition: all 1s;
	height: 300px;
	width:300px;
}

.profile:hover {
	transform: scale(1.1);
	
}


.nav {

	margin-top: 15px;
	color: black;

	display: grid;
	grid-template-columns: 200px 50px 50px 50px 50px;
	grid-template-rows: auto;
	grid-template-areas: 
		"head1 head2";

	grid-column-gap: 50px;
	border-bottom: 5px solid rgb(50,50, 200);
	padding-right: 88px;
	align-items: center;

}
.contact{
	border: 3px solid black;
}

.nav h1{
	grid-area: head1;
	font-family: Georgia;
	color: rgb(180, 180, 255);
}
.nav ul{
	grid-area: head2;
	margin: 0px 3px;
}
.nav li{
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	padding: 15px 5px;
	text-align:center;
	border-radius: 5px;
	margin: 0px 6px;
	height: 60px;
	

	flex-grow: 1s 1.1;
	transition: all 1s;

}

.nav li:hover {
	transform: scale(1.1);
	
}

.page {
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;

	width: flex-end;
	justify-content:flex-end;
	align-items: center;
}

.page li{
	
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	
	flex-grow: 1s 1.1;
	transition: all 1s;
}

.page ul{
	margin: 0px 3px;
}



.jumbotron {
	margin-top: 20px;
	background-color: rgb(120,150, 200);
	color: white;

}
.btn{
	background-color: red;
}
.btn:hover{
	background-color: black;
}

.jumbotron-fluid img{
	height: 300px;
	width: 350px
	
}
