body{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
background-color: #FFEFEF;
margin-left: 80px;
margin-top:50px;
margin-right:80px;
margin-bottom: 100px;

}
.opm{
	width:390px;	
	height: 300px;
}
img{
	border-radius: 18px;
	text-align: center;
}
li{
	color: #C91E1E;
}
nav{
	font-size: 28px;
	border-radius: 2px;
	background: #C91E1E;
	font-family: Georgia, "Times New Roman";
	text-align: center;
}
.mike{
	width:300px;
	height:450px;
	border-radius: 4px;
}
.bulk{
	background-color: #C91E1E;
	border-radius: 4px;
}
h1{
	background-color: #C91E1E;
	font-size: 38px;
	color: #FFEFEF;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman";
	text-align: center;
}
h2{
	background-color: #C91E1E;
	color: #FFEFEF;
	font-size: 26px;
	font-family: Georgia, "Times New Roman";
	text-align: center;
}
h3{
	background-color: #C91E1E;
	color: #FFEFEF;
	font-size: 22px;
	font-family: Georgia, "Times New Roman";
	text-align:center;
}
.homepics {
	width: 270px;
	height: 300px;
	display: inline-block;

}
a:link, a:visited {
    text-decoration: none;
    background-color: #FFEFEF;
    color: #C91E1E;
    padding: 14px 25px;
	text-decoration: none;
	display: inline-block;
}
.lod{
    text-decoration: none;
    background-color: #C91E1E;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}



p{
	font-family: Palatino, sans-serif;
	font-size: 18px;
	color: #C91E1E;
	text-align: center;
	
}
